body {
	position: relative;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
	justify-content: flex-start;
	/*font-family: lato, sans-serif;*/
	font-family: 'Roboto Mono', monospace;
	font-weight: 100;
	margin: 0;
	background-color: #f8f8f8;
	color: #444;
	border-radius: 4px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}

header {
	display: flex;
	flex-direction: row;
	
	min-height: 5vh;
	height: auto;
	width: 100vw;
	order: 1;
	align-self: auto;
	/*background-color: #fff;*/
	padding: 0.1% 2%;
	margin-bottom: 25px;
	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	border: 0px solid pink;
}
	h1 {
		font-weight: 100;
		font-size: 2.5em;
	}

footer {
	display: flex;
	flex-direction: row;
	height: 10vh;
	width: 100vw;
	order: 3;
	align-self: auto;
	margin-top: 25px;
	padding: 0.1% 2%;
	/*background-color: #363636;*/
	border: 0px solid pink;
}

nav {
	border: 0px solid pink;
}

ul, ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: 0px solid yellow;
}

nav>ul>li {
	margin: 1em 0;
	font-weight: 100;
	border: 0px solid lightGray;

}

a {
	/*text-decoration: none;*/
	color: #333333;
}

.bold {	font-weight: 400; }

button { border: 0px; }

*:focus {
	outline: none;
	border: none;
}


#main {
	display: flex;
	flex-direction: row;
	position: relative;
	order: 2;
	align-self: auto;
	height: 75vh;
	width: 100vw;
	margin: 0;
	padding: 0.1% 2%;
	/*background-color: #363636;*/
	border: 0px solid lightBlue;
}

.left {
	order: 1;
	align-self: auto;
	height: 100%;
	width: 25%;
	padding: 0;
	padding-right: 2%;
	border: 0px solid lightBlue;
	}

	li.select {
		text-decoration: underline;
		font-weight: 400;
	}

	#notesWrap {
		margin-top: 2.5em;
		border-top: 1px solid #eee;
	}

	#notesHead {
		font-size: 1.5em;
		font-weight: 300;
		text-decoration: none;
	}

	#notesTxt {
		font-weight: 300;
		border: 0px solid orange;
	}


.mid {
	order: 2;
	align-self: auto;
	display: flex;
	position: relative;
	height: 100%;
	width: 65%;
	padding: 0;
	border: 0px solid orange;
}

	#canvas, #lpc-canvas {  /* this is created by 3js */
		border-radius: 10px;
		border: 5px solid #000;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.05); 
		z-index: 0;
	}

	#lpc-canvas {  /* this is created by 3js */
		border: 0;
		border-radius: 0px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		box-shadow: 0px 0px 0px rgba(0,0,0,0.0); 
	}

	.slider-and-canvas {
		position: relative;
		background-color: white;
		/*border-bottom: 25px solid #F0F9FC;*/
		width: 100%;
		height: 100%;
		border-radius: 6px;
		border: 10px solid white;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	}

		#waveHolder {
			height: 85%;
			width: 100%;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			border: 0px solid lime;
			z-index: 0;
		}

		#sand {
			display: block;
			position: absolute;
			left: 0px;
			bottom: 0px;
			height: 15%; /*60px;*/
			width: 100%;
			background-color: #FFECCB;
			border: 0px solid lime;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}

	.lpc-range {
		/*height: 400px;*/
		position: absolute;
		background-color: transparent;
		top: 0;
		z-index: 99;
		left: 0;
		height: 100%;
		width: 100%;
		border: 0px solid red;
	}

	input[type=range] {
		-webkit-appearance: none;
		background-color: transparent;
		box-shadow: none; 
		overflow: visible;
		position: absolute;
		bottom: 10px;
		left: -2px;
		padding: 0 2%;
		width: 96%;
		z-index: 99;
		border: 0px solid blue;
	}
	    input[type=range]::-webkit-slider-thumb {
	      -webkit-appearance: none;
	      margin-top: 0px;
	      width: 60px;
	      height: 60px;
	      border-radius: 50px;
	      background-color: #FFC95F;
	      top: -8px;
	      margin-right: 50px;
	      box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	      z-index: 9999999999;
	      border: 4px solid white;
		}
/*
	.slider-and-canvas output {
		position: absolute;
		top: 20px;
		display: block;
		width: 50px;
		height: 24px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
		color: #4d4d4d;
		font-size: .8em;
		font-weight: bold;
		line-height: 24px;
		text-align: center;
	}

	.slider-and-canvas output:after {
		display: block;
		position: absolute;
		top: -20px;
		content: '';
		height: 345px;
		width: 2px;
		margin-left: 50%;
		margin-right: 50%;
		background-color: white;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
		z-index: -1;
		border: 0px solid green;
	}
*/

/* ============================================================ */
.right {
	order: 3;
	align-self: auto;
	height: 100%;
	width: 5%;
	border: 0px solid lightBlue;
	}

